@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: poppins, Montserrat ;
    color: #DFDFE2;
}

.container {
     width: 40%;
    margin: 20px auto;
    background-color: #1B1B32;
    border-radius: 10px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; ;
    
}

form{
    width: 100%;
    margin: 0 10%;
}

.title{
    display: block;
    text-transform: uppercase;
    margin-top: 20px;
}
h1{
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: 500;
}

input[type="range"]{
    width: 80%;
    height: 1px;
    accent-color: 	#33a570;
}


.range-value{
    margin-left: 10px;
}


.length-range,.settings-item{
    background-color: #0A0A23;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    padding: 0 10px;
   border: 1px solid #707070;
    display: flex;
    align-items: center;
}

.length-range{
    justify-content: center;
}

.settings-item{
    justify-content: space-between;
}

.btn{
    cursor: pointer;
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border: 1px solid #DFDFE2;
    background-color: #33a570;
    color: #DFDFE2;
}
.btn:hover{
    background-color: #338f64c0;
}

.toggle{
    --width: 40px;
    --height:20px;
    --border-radius:10px;
    display: flex;
    cursor: pointer;
    width: 100%;
    justify-content: space-between;
}

.toggle-input{
    display: none;
}

.toggle-fill{
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: #dddddd;
    transition: background 0.2s;
}

/* Select the siblin of toggle-fill */
.toggle-input:checked ~ .toggle-fill{
    background-color: #33a570;
}
/* Circle in the toggle */
.toggle-fill::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height);
    width: var(--height);
    background: #ffffff ;
    border-radius: var(--border-radius);
    transition: transform 0.2s;

}

/* To move the circle to the right  */
.toggle-input:checked ~ .toggle-fill::after{
  transform: translateX(var(--height));
}

.password-content{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.popup{
 border: 3px solid black;
 background-color: #DFDFE2;
 color: #0A0A23;
 border-radius: 5px ;
 padding: 5px;
opacity: 0;
pointer-events: none;
 transform: translate(8%,-500px);
}

.popup h4{
    font-size: 13px;
}

.popup.active{
  animation: popup 0.8s ease-in-out forwards;
}

@keyframes popup{
    0%{
        opacity: 0;
        pointer-events: none;
        transform: translate(8%,-20px);
    }
    40%{
        opacity: 1;
        pointer-events: auto;
        transform: translate(8%,0px);
    }
    80%{
        opacity: 1;
        pointer-events: auto;
        transform: translate(8%,0px);
    }
    100%{
        opacity: 0;
        pointer-events: none;
        transform: translate(8%,-20px);
    }
}



textarea{
    cursor: pointer;
    border-radius: 10px;
    color: #DFDFE2;
    margin: 20px auto;
    width: 80%;
    height: 130px;
    text-align: center;
    padding: 70px 0 0px 0px;
    background-color: #0A0A23;
    resize: none;
}



@media only screen and (max-width: 1400px) {
   .container{
    width: 50%;
   }
   h1{
    font-size: 1.5em;
}
  }


  @media only screen and (max-width: 800px) {
    .container{
     width: 70%;
    }
    h1{
        font-size: 1.3em;
    }
   }

   @media only screen and (max-width: 600px) {
    .container{
     width: 100%;
    }
   }



